<div class="best-seller__rating">
  <img
    src="./images/star-filled.png"
    alt="Filled Star"
    class="best-seller__star"
  />
  <img
    src="./images/star-filled.png"
    alt="Filled Star"
    class="best-seller__star"
  />
  <img
    src="./images/star-filled.png"
    alt="Filled Star"
    class="best-seller__star"
  />
  <img
    src="./images/star-filled.png"
    alt="Filled Star"
    class="best-seller__star"
  />
  <img
    src="./images/star-filled.png"
    alt="Filled Star"
    class="best-seller__star"
  />
</div>
