<section class="best-seller">
  <div class="best-seller__container container">
    <div class="best-seller__title">
      <h2>Best Seller<br />Product</h2>
      <div class="best-seller__link">
        <p>See all colection</p>
        <svg width="32px" height="32px" class="best-seller__icon">
          <use href="./images/icons.svg#icon-arrow" y="5px"></use>
        </svg>
      </div>
    </div>
    <ul class="best-seller__list">
      <li class="best-seller__item">
        <img
          src="./images/best-seller-1.png"
          alt="plant"
          class="best-seller__plant"
        />
        <div class="best-seller__shadow"></div>
        <div class="best-seller__content">
          <h3 class="best-seller__name">Cammile</h3>
          <include src="./partials/best-seller-raiting.html"></include>
          <div class="best-seller__buy">
            <h3>65$</h3>
            <button>
              <svg
                width="3.6875rem"
                height="3.6875rem"
                class="best-seller__icon"
              >
                <include src="./partials/svg_gradient.html"></include>
                <use
                  href="./images/icons.svg#icon-plus"
                  style="fill: url(#myGradient);"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="best-seller__item">
        <img
          src="./images/best-seller-2.png"
          alt="plant"
          class="best-seller__plant"
        />
        <div class="best-seller__shadow"></div>
        <div class="best-seller__content">
          <h3 class="best-seller__name">Cammile</h3>
          <include src="./partials/best-seller-raiting.html"></include>
          <div class="best-seller__buy">
            <h3>65$</h3>
            <button>
              <svg
                width="3.6875rem"
                height="3.6875rem"
                class="best-seller__icon"
              >
                <include src="./partials/svg_gradient.html"></include>
                <use
                  href="./images/icons.svg#icon-plus"
                  style="fill: url(#myGradient);"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="best-seller__item">
        <img
          src="./images/best-seller-3.png"
          alt="plant"
          class="best-seller__plant"
        />
        <div class="best-seller__shadow"></div>
        <div class="best-seller__content">
          <h3 class="best-seller__name">Cammile</h3>
          <include src="./partials/best-seller-raiting.html"></include>
          <div class="best-seller__buy">
            <h3>65$</h3>
            <button>
              <svg
                width="3.6875rem"
                height="3.6875rem"
                class="best-seller__icon"
              >
                <include src="./partials/svg_gradient.html"></include>
                <use
                  href="./images/icons.svg#icon-plus"
                  style="fill: url(#myGradient);"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
