<section class="best-seller">
  <div class="best-seller__container container">
    <div class="best-seller__title">
      <h2>Best Seller<br />Product</h2>
      <div class="best-seller__link">
        <p>See all colection</p>
        <svg width="32px" height="32px" class="best-seller__icon">
          <use href="./images/icons.svg#icon-arrow" y="5px"></use>
        </svg>
      </div>
    </div>
    <ul class="best-seller__list">
      <li class="best-seller__item">
        <img
          src="./images/best-seller-1.png"
          alt="plant"
          class="best-seller__plant"
        />
        <div class="best-seller__shadow"></div>
        <div class="best-seller__content">
          <h3 class="best-seller__name">Cammile</h3>
          <div class="best-seller__rating">
            <img
              src="./images/star-filled.png"
              alt="Filled Star"
              class="best-seller__star"
            />
            <img
              src="./images/star-filled.png"
              alt="Filled Star"
              class="best-seller__star"
            />
            <img
              src="./images/star-filled.png"
              alt="Filled Star"
              class="best-seller__star"
            />
            <img
              src="./images/star-filled.png"
              alt="Filled Star"
              class="best-seller__star"
            />
            <img
              src="./images/star-filled.png"
              alt="Filled Star"
              class="best-seller__star"
            />
          </div>
          <!-- <svg width="120px" height="24px" class="best-seller__stars">
            <use href="./images/icons.svg#icon-stars" style="fill: red;"></use>
          </svg> -->
        </div>
      </li>
    </ul>
  </div>
</section>
