<section class="care">
  <div class="care__container container">
    <div class="care__content">
      <div class="care__title">
        <h3>How to care for plants</h3>
        <p>Take care of plants with all your heart</p>
      </div>
      <ul class="care__list">
        <li class="care__item">
          <div class="care__icon">
            <svg width="100%" height="100%">
              <include src="./partials/components/svg_gradient.html"></include>
              <use
                href="./images/icons.svg#icon-sun2"
                style="fill: url(#myGradient);"
              ></use>
            </svg>
          </div>
          <div class="care__text">
            <h3>Adjust Lighting</h3>
            <p>
              When caring for indoor plants, make sure the room temperature is
              neither too cold nor too hot
            </p>
          </div>
        </li>
        <li class="care__item">
          <div class="care__icon">
            <svg width="78px" height="70px">
              <include src="./partials/components/svg_gradient.html"></include>
              <use
                href="./images/icons.svg#icon-drop"
                style="stroke: url(#myGradient); fill: white;"
              ></use>
            </svg>
          </div>

          <div class="care__text">
            <h3>Don't water too often</h3>
            <p>
              Watering ornamental plants indoors does not have to be done every
              day.
            </p>
          </div>
        </li>
        <li class="care__item">
          <div class="care__icon">
            <svg width="78px" height="70px">
              <include src="./partials/components/svg_gradient.html"></include>
              <use
                href="./images/icons.svg#icon-plant"
                style="stroke: url(#myGradient); fill: white; stroke-width: 2;"
              ></use>
            </svg>
          </div>
          <div class="care__text">
            <h3>Don't water too often</h3>
            <p>
              Watering ornamental plants indoors does not have to be done every
              day.
            </p>
          </div>
        </li>
        <li class="care__item">
          <div class="care__icon">
            <svg width="78px" height="70px">
              <include src="./partials/components/svg_gradient.html"></include>
              <use
                href="./images/icons.svg#icon-thermometer"
                style="stroke: url(#myGradient); fill: white; stroke-width: 3;"
              ></use>
            </svg>
          </div>
          <div class="care__text">
            <h3>Fertilize regularly</h3>
            <p>
              The nutrients most indoor houseplants need are nitrogen for
              balance and potassium for stem strength
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="care__image"></div>
  </div>
</section>
