<section class="care">
  <div class="care__container container">
    <div class="care__content">
      <div class="care__title">
        <h3>How to care for plants</h3>
        <p>Take care of plants with all your heart</p>
      </div>
      <ul class="care__list">
        <li class="care__item">
          <svg width="68px" height="68px" class="care__icon">
            <include src="./partials/components/svg_gradient.html"></include>
            <use
              href="./images/icons.svg#icon-sun"
              style="fill: red; stroke: url(#myGradient);"
            ></use>
          </svg>
          <div class="care__text">
            <h3>Adjust Lighting</h3>
            <p>
              When caring for indoor plants, make sure the room temperature is
              neither too cold nor too hot
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="care__image"></div>
  </div>
</section>
