<section class="features">
  <div class="features__container container">
    <ul class="features__list">
      <li class="features__item">
        <svg width="77px" height="77px" class="features__icon">
          <include src="./partials/svg_gradient.html"></include>
          <use
            href="./images/icons.svg#icon-box"
            style="stroke: url(#myGradient); fill: white; stroke-width: 2;"
          ></use>
        </svg>
        <div class="features__text">
          <h3>Free Shipping</h3>
          <p>No charge for each delivery</p>
        </div>
      </li>
      <li class="features__item">
        <svg width="63px" height="68px" class="features__icon">
          <include src="./partials/svg_gradient.html"></include>
          <use
            href="./images/icons.svg#icon-wallet"
            style="fill: url(#myGradient);"
          />
        </svg>
        <div class="features__text">
          <h3>Quick Payment</h3>
          <p>100% secure payment</p>
        </div>
      </li>
      <li class="features__item">
        <svg width="77px" height="77px" class="features__icon">
          <include src="./partials/svg_gradient.html"></include>
          <use
            href="./images/icons.svg#icon-support"
            style="fill: url(#myGradient);"
          ></use>
        </svg>
        <div class="features__text">
          <h3>24/7 Support</h3>
          <p>Quick support</p>
        </div>
      </li>
    </ul>
  </div>
</section>
