<header class="header">
  <div class="container header__container">
    <nav class="header__main-nav">
      <ul class="menu-container__page-nav">
        <li class="menu-container__item">
          <a href="" class="menu-container__link">Home</a>
        </li>
        <li class="menu-container__item">
          <a href="" class="menu-container__link">Shop</a>
        </li>
        <li class="menu-container__item">
          <a href="" class="menu-container__link">About us</a>
        </li>
        <li class="menu-container__item">
          <a href="" class="menu-container__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
