<section class="reference">
  <div class="reference__container container">
    <h2 class="reference__title">Interior Plant Reference</h2>
    <p class="reference__text">
      make your home so comfortable with refreshing plants
    </p>
    <div class="reference__images">
      <div class="reference__images--left">
        <div class="image__overlay">
          <img
            src="./images/reference-1.jpg"
            alt="Image 1"
            class="image__first"
          />
        </div>

        <img src="./images/reference-3.jpg" alt="Image 2" />
      </div>
      <div class="reference__images--right">
        <img src="./images/reference-2.jpg" alt="Image 3" />
      </div>
    </div>
  </div>
</section>
