.best-seller__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 123px;

    .best-seller__title{

        h2{
            font-weight: 500;
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        .best-seller__link{
            display: flex;
            align-items: center;
            padding: 1.625rem 0;
            cursor: pointer;

            p {
             font-size: 24px;
             
            }
             .best-seller__icon{
              margin-left: 1.25rem;
            }
        }
       
    }
   
}

.best-seller__list{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

        .best-seller__item{
            position: relative;
            background: getColor(background-best-seller);
            width: 20.5625rem;
            height: 31.9375rem;
            border-radius: 3.125rem;
                     
        }
        .best-seller__plant{
                position: absolute;
                bottom: 319px;
                z-index: 15;
            }
            .best-seller__shadow{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 314px;
                width: 82px;
                height: 13px; 
                background-image: url('/src/images/shadow.png');
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat; 
            }
            .best-seller__content{
                position: absolute;
                bottom: 0;
                width: 100%;
                border-radius: 3.125rem;
                background: getColor(background-color);
                height: 16.3125rem;
                padding: 1.625rem 2.375rem;
                -webkit-box-shadow: 1px 3px 2px 1px rgba(193,208,228,0.39);
                -moz-box-shadow: 1px 3px 2px 1px rgba(193,208,228,0.39);
                box-shadow: 1px 3px 2px 1px rgba(193,208,228,0.39);

                .best-seller__name{
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }

                .best-seller__rating{
                    display: flex;
                    margin-bottom: 4.75rem;
                }
                .best-seller__star{
                    width: 24px;
                    height: 24px;
                    
                }
                .best-seller__buy{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button{
                        cursor: pointer;
                        border: none;
                        background: getColor(background-color);
                    }

                    h3{
                        font-weight: 600;
                        font-size: 2rem;
                    }
                }

            }
   }